node_modules
jspm_packages
bower_components
.idea
.DS_STORE
/dist
build/reports
coverage
test/e2e/dist
/export
test/test-files
/test/test-files/config.js
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

